@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
  background: #FFFBF4;
}
#Home {
  position: absolute;
width: 67px;
height: 67px;
left: 1324px;
top: 30px;

}

#title {
  position: absolute;
  width: 443px;
  height: 91px;
  left: 498px;
  top: 45px;

  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 112px;

  color: #F5B973;

}